h2 {
  color:rgb(16, 102, 5);
  font-size: 3em;
  line-height: 50px;
}
h3 {
  color: red;
  font-size: 1.5em;
  line-height: 30px;
}

body {
  background-color:gold;
  font-family: sans-serif, "Helvetica Neue", "Helvetica", "Arial";
  font-size: 17px;
  text-align: center;
}
h1 {
  font-size: 4em;
}

p {
  color:grey;
  font-family: monospace;
  text-decoration: underline;
}

.money-song {
  color:purple;
  font-family: cursive;
  font-style: italic;
  line-height: 60px;
}

#Greeting-heading {
  color:rgb(0, 255, 242);
  font-family: fantasy;
  background-color: blue;
}

#meanings-heading {
  color:orangered;
}

strong {
  color: black;
}
em {
  color: red;
}
#Converter {
  color:rgb(135, 3, 25);
}
#info {
  font-weight: bold;
}
#cash {
  color: green;
}
#info {
  background-color: aqua;
  width:70%;
  height: 180px;
  overflow: auto;
  margin: 15px 0px 10px 6px;
  border: 2px dashed rgb(161,161,161);
  padding: 6px;
}
#container {
  width: 400px;
  border: 1px solid red;
  border-top: 10px solid greenyellow;
  margin: auto;
  padding: 15px;
}
#money {
  border: 6px ridge red;
}

h1 {
  text-align: left;
}
a:hover {
  background-color:red;
}
a:active {
  background-color: blue;
}
a:focus {
  background-color: green;
}

a li:hover {
  color: blue;
  background-color:green;
}
a li:active {
  color:green;
  background-color: red;
}
a li:focus {
  color:red;
  background-color: blue;
}
#Fact-Button {
  border-radius: 12px;
  height: 40px;
  width: 100px;
  Color: red;
  border: 5px solid pink;
}

